<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>模版!</title>
</head>

<body>
{{/*模板语法都包含在{{和}}中间，其中{{.}}中的点表示当前对象。*/}}
<p>人物名称：{{ .Name }}</p>
<p>人物性别：{{ .Gender }}</p>
<p>人物年龄：{{ .Age }}</p>
</body>
</html>